@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>

    <AuthorizeView>
        <Authorized>
            <div class="card-footer">
                <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR73pcsbpbxNJuZCMKN0lURpUMEw0UFNBVVBEV1E3VFNBU1I0T05TNzhPViQlQCN0PWcu" target="_blank">Were we successful in addressing your learning objective? Do consider taking a moment to share your experience with us.</a>
            </div>
        </Authorized>
    </AuthorizeView>
</div>
